<div class="h-[5rem] w-full bg-[#62E8FE] flex border border-white rounded-lg">
    <div class="h-full w-[30%] flex items-center">
        <h1 class="text-3xl ml-4 text-black">Usuarios</h1>
    </div>
    <div class="h-full w-[70%] flex items-center justify-end mr-4 gap-3">
        <app-button [text]="'Exportar'" [icon]="'download'"></app-button>
        <app-button [text]="'Importar'" [icon]="'upload'"></app-button>
        <app-button [text]="'Agregar'" [icon]="'add'" (click)="openModal()"></app-button>
    </div>
</div>
