<div class="h-[5rem] w-full bg-[#da5a51] flex border border-white rounded-lg">
    <div class="h-full w-[30%] flex items-center">
        <h1 class="text-3xl ml-4 text-white">Ventas</h1>
    </div>
    <div class="h-full w-[70%] flex items-center justify-end mr-4 gap-3">
        <app-button [text]="'Exportar'" [icon]="'download'"></app-button>
        <app-button [text]="'Importar'" [icon]="'upload'"></app-button>
        <app-button [text]="'Agregar'" [icon]="'add'" (click)="openModal()"></app-button>
    </div>
</div>
<div class="w-full mt-6 border border-[#DA5A51] rounded-lg shadow-md overflow-hidden">  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
      
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Nombre</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Descripción</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.description }}</td>
      </ng-container>
  
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Precio</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">${{ element.price }}</td>
      </ng-container>
  
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Stock</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.stock }}</td>
      </ng-container>
  
      <ng-container matColumnDef="min_stock">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Stock Mínimo</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.min_stock }}</td>
      </ng-container>
  
      <ng-container matColumnDef="max_stock">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Stock Máximo</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.max_stock }}</td>
      </ng-container>
  
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef class="!bg-[#DA5A51] !text-white !px-4 !py-2 uppercase">Categoría</th>
        <td mat-cell *matCellDef="let element" class="!border-t !border-gray-300 !px-4 !py-2">{{ element.category.name }}</td>
      </ng-container>
  
      <thead>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </thead>
      <tbody>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="!odd:bg-[#FEECEA] !hover:bg-[#FEC0B8]"></tr>
      </tbody>
    </table>
  
    <!-- Paginador -->
    <mat-paginator class="!text-[#DA5A51]" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  