<div class="fixed inset-0 flex items-center justify-center">
    <div class="bg-white px-8 py-6 w-11/12 max-w-2xl rounded-xl shadow-lg flex flex-col border border-gray-300">
        <div class="flex justify-between items-center pb-2 border-b border-gray-300">
            <span class="text-xl font-semibold text-gray-800">Nuevo Producto</span>
            <button mat-icon-button class="hover:bg-[#da5a51] hover:text-white transition duration-200 w-10 h-10 flex items-center justify-center rounded-full" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="w-full py-4">
            <div class="grid grid-cols-2 gap-4">
                <app-input-form 
                    label="Nombre"
                    formControlName="name"
                    [required]="true"
                    placeholder="Ingrese el nombre del producto">
                </app-input-form>

                <app-input-form 
                    label="Descripción"
                    formControlName="description"
                    [required]="true"
                    placeholder="Ingrese la descripción del producto">
                </app-input-form>

                <app-input-form 
                    label="Precio"
                    formControlName="price"
                    [required]="true"
                    placeholder="Ingrese el precio del producto">
                </app-input-form>

                <app-input-form 
                    label="Stock"
                    formControlName="stock"
                    [required]="true"
                    placeholder="Ingrese el stock del producto">
                </app-input-form>

                <app-input-form 
                    label="Stock mínimo"
                    formControlName="min_stock"
                    [required]="true"
                    placeholder="Stock mínimo del producto">
                </app-input-form>

                <app-input-form 
                    label="Stock máximo"
                    formControlName="max_stock"
                    [required]="true"
                    placeholder="Stock máximo del producto">
                </app-input-form>

                <app-input-form 
                label="Categoria"
                formControlName="category_name"
                [required]="true"
                placeholder="Categoria">
            </app-input-form>


                

                <app-input-form 
                    label="Imagen"
                    formControlName="image_url"
                    [required]="true"
                    placeholder="URL de la imagen del producto">
                </app-input-form>
            </div>
            
            <div class="flex justify-end mt-6">
                <button type="submit" class="bg-[#da5a51] text-white px-5 py-2 rounded-lg hover:bg-[#bf4e46] transition duration-300 shadow-md">
                    Guardar Producto
                </button>
            </div>
        </form>
    </div>
</div>
